.KGiwt {
    height: 20px !important;
    background: transparent;
}

.SCxLW > div:nth-child(1) {
 width: 98%;
 align-self: center;
}


.KGiwt::before {
    height:0px;
}
.MxEZm {
 padding:0px 0px 0;
}
.f_Y_g {
 border-radius:20%;
 transform: scale(1.55);
}
.tx0Md{
    color:inherit;
}

.JdY43 {
 width:45px;
}

.PIoXz {
 font-size:10px;
 line-height:10px;
}

a._9VEo1:nth-child(2):before{
    content:"Fotos";
}
html.js.logged-in.client-root.touch.js-focus-visible.sDN5V body div#react-root section._9eogI.E3X2T main.SCxLW.uzKWK div.v9tJq header.HVbuG div.XjzKX {
    transform:scale(2.9)
}

.wW3k- {
    min-height:372px;
    max-height:372px;
    margin-left:19px;
}

html.js.logged-in.client-root.touch.js-focus-visible.sDN5V body div#react-root section._9eogI.E3X2T main.SCxLW.uzKWK section._1SP8R.M_qbh div.zGtbP.IPQK5 div.ku8Bn div.qf6s4.lGuO0 div div.Fd_fQ button.OE3OK div.RR-M-.QN629 span._2dbep, html.js.logged-in.client-root.touch.js-focus-visible.sDN5V body div#react-root section._9eogI.E3X2T main.SCxLW.uzKWK section._1SP8R.M_qbh div.zGtbP.IPQK5 div.ku8Bn div.qf6s4.lGuO0 div div.Fd_fQ button.JdY43 span.ctM9u._2dbep {
    display:block!important;
}

.D_6tu {
 background:none;
}
.vboSt {
  border:none;
}

.-ZQoH {
 height:35px;
 z-index:11
}

.b5itu {
 height:30px;
}

._4dMfM {
 height:100px;
 width:100px;
}


._2dbep.qNELH.kIKUG{
    transform:scale(1.6);
    margin-top:2px;
}

.Z_Gl2 {
    display:none;
}

a:visited  {
  color:#21d521!important;
}
a {
    color:inherit!important;
}

.KV-D4, .xLCgt  .IwRSH:visited{
  color:inherit!important;
}
._7UhW9 .xLCgt   {
    color:inherit!important;
}         

._7UhW9.vy6Bb.MMzan.KV-D4.uL8Hv.T0kll {
    color:#a8a8a8 !important;
}

.xZ2Xk {
    display:none;
}

html > div:nth-child(7) > div:nth-child(3) {
  top: -6px!important;
  
}

.POSa_,
._6CZji {
 transform: scale(0.7);
 transform-origin: top;
 opacity: 0.85;
}

._8-yf5 {
 transform: scale(0.7);
}

.SnxPi {
    transform:scale(1);
    transform-origin:top left;
}

.MWDvN.nfCOa,._lz6s.Hz2lF {
    background:transparent;
    border:none;
}

.XTCLo.x3qfX,.pbgfb.Di7vw  {
    opacity:0.4;
}

.cGcGK {
    max-width:100%!important;
}



.uzKWK,
._09ncq {
 background-color:transparent;
}
._9ezyW {
 background-color:transparent;
}
._9ezyW::before {
 display: none;
}


.uKzpc{
    display:none;
}

.PZuss > li {
    padding-right:160px;
}

.isgrP > ul > div {

    display: grid!important;
    grid-auto-columns: min-content!important;
    grid-column-gap: 0px!important;
    grid-row-gap: 10px!important;
    grid-template-columns: 14% 14% 14% 14% 14% 14% 14%!important;
    max-width: 770px;
    padding: 0;
    margin-left:80px;
    margin-top:0;
    margin-bottom:25px;
    /*! align-self: center; */
    transform:scale(1.15);
    transform-origin:top;
    
}

span.Jv7Aj.mArmR.MqpiF a.FPmhX.notranslate._0imsa {
    margin-top:100px!important;
    margin-left:-158px!important;
}



.eiUFA{
    display:none;
}

._8Rm4L{
     padding-left:1%;
     padding-right:1%;
    /*
     min-width:500px!important;
     max-width:500px!important;*/
}

.RR-M-.TKzGu {
    max-height:70px!important;
    max-width:70px!important;
}

.RR-M-.g9vPa{
    max-height:90px;
    max-width:90px;
}
.Mr508 {
 margin-bottom:6px;
}

.XQXOT .PpGvg:last-child {
 padding-bottom:0px;
}

._6q-tv {
    max-height: 100px;
    max-width: 100px;
    filter: brightness(1.04)contrast(1.04);
}

.aUCRo , ._9ezyW{
   opacity:0.2;
}

.vCZ2N {
    display:none;
}

.KQA-S,
._1MzIy,
._3MPWk,
._8Rm4L,
.zMhqu {
    border-radius: 3px;
    border: 0;
}



._8Rm4L {
    margin-bottom: -5px;
}

.Ppjfr {
    height: 55px;
    padding: 0px;
}

.Slqrh,
.eo2As > .Slqrh:first-child {
    margin-top: -40px;
}

.ijCUd {
    margin-bottom: 0;
    margin-top: 0px;
}

#react-root,
article,
nav,
section {
    padding: 1px;
    position: relative;
}

.wo9IH {
    padding: 0px 1px;
}

._0imsa:visited {
    color:#00c802!important;
}
.wFPL8 {
    font-size: 9.8px!important;
    font-weight: 600;
    line-height: 40px;
    color:#080808;
    opacity:0.8;
    margin-left:-110px !important;
    text-transform:lowercase; 
    width:100px;
    margin-top:75px;
    padding-top:0px;
    height:30px;
    background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 4%,
      rgba(255, 255, 255, .45)
    )
} 

.v9tJq {
 padding-top: 0px;
 margin-top: -20px;
}
.sqdOP.L3NKy._8A5w5  {  
 margin-left:-50px;
 margin-top:-5px;
 font-weight:600;
 color:#f00
 
}
._4bSq7 {
   margin:0!important;
}
.mrq0Z {
 max-height:50px!important;
 max-width:50px!important;
 min-height:50px!important;
 min-width:50px!important;
 margin-top:4px;
}

._2dbep {
    display: initial !important;
    background-color:transparent!important;
}
.M-jxE::after {
 border:none;
}

div._4LQNo div.M-jxE {
    
     transform: scale(2.6);
    transform-origin:top;
    filter:brightness(1.05)contrast(1.04);
}

div.eC4Dz div.RR-M- {
     transform: scale(3.95);
    transform-origin:top left;
    margin-top:10px;
    margin-left:-268px;
}
.M-jxE{
 overflow:visible;
    transform-origin:top;
}


.sH9wk._JgwE {
    height:40px;
    min-height:40px;
}

.sH9wk {
 border-top:0;
}

.YbwEJ {
    display: none;
}


._2dbep::after {
    display:none!important;
}


.CfWVH {
    display: none;
}

.HYpXt.pbNvD {
    min-height: 200px;
    max-height: 1200px;
    min-width:600px;
}

.fPMEg {
    margin: 0;
}


.jjbaz > div {
    display: grid!important;
    grid-auto-columns: min-content!important;
    grid-column-gap: 7px !important;
    grid-row-gap: 13px;
    grid-template-columns:  96% 96% 96% 96%      !important;
    width: 100%;
    max-width:98px;
    margin-left:-5px;
    padding-bottom:0px;
    transform-origin:0 0;
    transform:scale(1);
    overflow:visible;
}
.wG4fl > div:nth-child(2) {
 transform: scale(0.9);
}

._1SP8R {
    padding-top:20px;
}


.Pkbci {
    background: transparent;
    background-color: transparent;
    height: 0px;
    margin-top: 88px;
}
.MWDvN {
    max-width:100%;
}
.Pkbci {
    margin-left: -1.5px;
}


.wo9IH {
    padding: 0px 0px;
}

.uu6c_ {
    height:150px;
}
.wo9IH {
    padding: 0px 1px;
}

._0imsa  {
    margin-left: -113px;
    padding-left:0px;
    margin-top: -4px;
    padding-top:8px;
    height: 15px;
    width:85px;
    color: #fff!important;
    text-align:left;
    font-size:13.3px !important;
    font-weight:500!important;

}

.qyrsm {
    
    font-size:13px !important;
    font-weight:400!important;
}


.sqdOP.L3NKy.y3zKF{
   margin-left:-40px;
   padding-top:8px;
}

.yWX7d {
    display:initial;
}

.uu6c_{
    max-height:115px;
    height:115px;
    padding:0px;
    padding-top:0px;
    background:transparent
}
.iXT5c {
    display:none;
}
.VR6_Q{
    display:none;
}
.wo9IH,.uu6c_,.t2ksc,._2dbep.qNELH.kIKUG{
    background-color:transparent;
}
.wo9IH{
    width:110px;
    height:100px;
}

.HYpXt.pbNvD {
    min-height: 200px;
    max-height: 1200px;
    min-width:920px;
}

.L3NKy,
a.L3NKy,
a.L3NKy:visited {
    background:transparent;
    width: 40px;
    height: 0px;
    border: 0px;
    padding-top:0px;
    margin-top: -2px;
    padding-left: 0px;
    margin-right: 0px;
    font-size: 9.5px;
    text-transform: lowercase;
    line-height:6px;
    font-weight: 600;
}

.sqdOP.L3NKy.y3zKF {
    background:transparent;
}

a.y3zFK:hover{
    opacity:1;
}

.yCE8d {
    height:85px;
    width:320px;
}
.fuqBx {
    max-height:720px;
    height:655px;
}

.drKGC{
    width:350px;
    height:720px;
    margin-left:-185px;
}
.COOzN{
    display:none;
}

.XjzKX{
    transform: scale(2.4);
    transform-origin:top;
    margin-top:0px;
    margin-left:85px;
    padding-bottom:30px;
    margin-bottom:100px;
    margin-right:80px;
    max-width:200px;
    max-height:200px;
}
.vtbgv{
    margin-top:0px;
    margin-bottom:20px;
}

._3dEHb{
    z-index:0;
}

.ltpMr.Slqrh > button {
    display:none;
}

.O4GlU, ._1o9PC,.M9sTE,.-vDIg {
    font-size:11.5px!important;
}
.-vDIg {
    height:190px;
}

h2._7UhW9 {
 min-width: 185px;
 max-width:  185px;
 padding-right:20px;
}



._2z6nI > div:nth-child(1) > div:nth-child(1) {
       display: grid!important;
    grid-template-columns:  96% 96%    !important;
    grid-column-gap: 1.5px;
    width: 50%;
    margin-left:2%;
    padding-top:5px;
    overflow:visible;
}

/*stories*/
.qf6s4, .lGuO0,.ku8Bn{
    max-width:100%!important;
    
    padding-left:0!important;
    padding-right:0!important;
}

html > div:nth-child(7) > div:nth-child(3) {
    font: 8px sans-serif!important;
}
.RR-M-.SAvC5{
    max-width:100px;
    max-height:85px;
}


.coreSpriteVerifiedBadge.Szr5J{
    margin-left:-5px;
    margin-top:6px;
    transform:scale(0.5);
    opacity:0.6;
}

.zwlfE { 
    transform: scale(0.90);
    transform-origin:top left;   
}
@media (max-width:735px) {
 .zw3Ow,
 .ys3F7 {
  margin-left:16px;
  margin-right:16px;
  margin-top:-24px!important;
 }
}

.zw30w .ys3F7 {
    margin-bottom:0px !important;
    margin-top:0px !important;
}

._3dEHb {
    transform: scale(0.8);
    transform-origin: center ;   
}

.Igw0E.rBNOH.YBx95.ybXk5._4EzTm.soMvl button.sqdOP.L3NKy._8A5w5 {
    margin-top:160px;
    margin-left:-80px;
}
